@font-face {
  font-family: "iconfont"; /* Project id 3243298 */
  src: url('//at.alicdn.com/t/font_3243298_1vhfhor2tli.woff2?t=1647179266417') format('woff2'),
       url('//at.alicdn.com/t/font_3243298_1vhfhor2tli.woff?t=1647179266417') format('woff'),
       url('//at.alicdn.com/t/font_3243298_1vhfhor2tli.ttf?t=1647179266417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiaoxuanxiangmu:before {
  content: "\e6df";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-zhedie1:before {
  content: "\e621";
}

.icon-fenxi:before {
  content: "\e668";
}

.icon-yonghuguanli:before {
  content: "\e70c";
}

.icon-quanxian:before {
  content: "\e60c";
}
